In [76]:
import numpy as np
import pandas as pd
import pandasql as psql

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier


from imblearn.over_sampling import SMOTE

In [3]:
df = pd.read_csv("~/Downloads/bigml_59c28831336c6604c800002a.csv")

In [7]:
le = LabelEncoder()
df['state'] = le.fit_transform(df['state'])
df['international plan'] = le.fit_transform(df['international plan'])
df['voice mail plan'] = le.fit_transform(df['voice mail plan'])
df['area code'] = le.fit_transform(df['area code'])

In [137]:
df.describe()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3.333000e+03,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,26.059406,101.064806,437.182418,3.746291e+06,0.096910,0.276628,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,14.824911,39.822106,42.371290,2.746626e+05,0.295879,0.447398,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,0.000000,1.000000,408.000000,3.271058e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,14.000000,74.000000,408.000000,3.508680e+06,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,26.000000,101.000000,415.000000,3.748187e+06,0.000000,0.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,39.000000,127.000000,510.000000,3.985970e+06,0.000000,1.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,50.000000,243.000000,510.000000,4.229964e+06,1.000000,1.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [56]:
df.dtypes

state                      object
account length              int64
area code                   int64
phone number                int64
international plan         object
voice mail plan            object
number vmail messages       int64
total day minutes         float64
total day calls             int64
total day charge          float64
total eve minutes         float64
total eve calls             int64
total eve charge          float64
total night minutes       float64
total night calls           int64
total night charge        float64
total intl minutes        float64
total intl calls            int64
total intl charge         float64
customer service calls      int64
churn                        bool
dtype: object

In [168]:
q1 = ("""
SELECT *,
CASE 
    WHEN "total intl calls" > 0 THEN 1
    ELSE 0 
END AS intlcalls,
CASE 
    WHEN "total eve calls" > 0 THEN 1
    ELSE 0 
END AS evecalls,
CASE 
    WHEN "total night calls" > 0 THEN 1
    ELSE 0
END AS nightcalls,
CASE
    WHEN "total day calls" > 0 THEN 1
    ELSE 0
END AS daycalls,
CASE
    WHEN "customer service calls" > 1 THEN 1 
    ELSE 0
END AS customerservice
FROM df
""")
df1 = psql.sqldf(q1)
df1 = df1.drop(columns = ['total intl calls','total eve calls','total night calls','total day calls','customer service calls'])

In [10]:
q2 = """
SELECT "state", "area code",
"international plan", "voice mail plan", "number vmail messages"/"account length",
"total day minutes"/"account length", "total day calls"/"account length", "total day charge"/"account length",
"total eve minutes"/"account length", "total eve calls"/"account length", "total eve charge"/"account length",
"total night minutes"/"account length", "total night calls"/"account length", "total night charge",
"total intl minutes"/"account length", "total intl calls"/"account length", "total intl charge"/"account length",
"customer service calls", "churn"
FROM df
"""
df2 = psql.sqldf(q2)

In [ ]:
# actually we dont really need the column phone number because it will cause over fitting and will not have a 
# correlation between our train and test data.

In [152]:
X = df.drop(columns = ['churn','phone number'])
y = df['churn']
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,random_state=42)

In [147]:
dtc = DecisionTreeClassifier(max_depth=22)
dtc.fit(Xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=22,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [148]:
y_preds = dtc.predict(Xtrain)

In [149]:
confusion_matrix(ytrain,y_preds)

array([[2141,    0],
       [   0,  358]])

In [150]:
X = df.drop(columns = ['churn','phone number'])
y = df['churn']
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,random_state=42)

In [147]:
rfc = RandomForestClassifier(n_estimators=100,random_state=42)

In [151]:
rfc.fit(Xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [153]:
confusion_matrix(ytrain,rfc.predict(Xtrain))

array([[2141,    0],
       [   0,  358]])

In [154]:
rfc.feature_importances_

array([0.02472057, 0.02867274, 0.00857789, 0.08677414, 0.02023758,
       0.02702115, 0.13428955, 0.03074894, 0.13058729, 0.06298392,
       0.02874081, 0.06677738, 0.03676844, 0.03198688, 0.03508086,
       0.04161329, 0.0448703 , 0.03693667, 0.1226116 ])

In [155]:
print(classification_report(ytest,rfc.predict(Xtest)))

              precision    recall  f1-score   support

       False       0.95      1.00      0.97       709
        True       0.97      0.68      0.80       125

    accuracy                           0.95       834
   macro avg       0.96      0.84      0.88       834
weighted avg       0.95      0.95      0.94       834

In [156]:
rfc.fit(Xtrain,ytrain)
confusion_matrix(ytest,rfc.predict(Xtest))

array([[706,   3],
       [ 40,  85]])

In [157]:
sm = SMOTE(random_state=42, sampling_strategy=1.0)
Xsmote, ysmote = sm.fit_sample(Xtrain, ytrain)
rfc.fit(Xsmote,ysmote)
confusion_matrix(ytest,rfc.predict(Xtest))

array([[685,  24],
       [ 26,  99]])

In [158]:
print(classification_report(ytest,rfc.predict(Xtest)))

              precision    recall  f1-score   support

       False       0.96      0.97      0.96       709
        True       0.80      0.79      0.80       125

    accuracy                           0.94       834
   macro avg       0.88      0.88      0.88       834
weighted avg       0.94      0.94      0.94       834

In [121]:
y_final = rfc.predict(Xtest1)
confusion_matrix(ytest1,y_final)

NameError: name 'Xtest1' is not defined

In [138]:
X2 = df2.drop(columns = ['churn'])
y2 = df2['churn']
Xtrain2,Xtest2,ytrain2,ytest2 = train_test_split(X2,y2,random_state=42)

In [139]:
rfc.fit(Xtrain2,ytrain2)
y_preds2 = rfc.predict(Xtrain2)
confusion_matrix(ytrain2,y_preds2)

array([[2141,    0],
       [   0,  358]])

In [140]:
print(classification_report(ytest2,rfc.predict(Xtest2)))

              precision    recall  f1-score   support

           0       0.89      0.98      0.93       709
           1       0.75      0.31      0.44       125

    accuracy                           0.88       834
   macro avg       0.82      0.65      0.69       834
weighted avg       0.87      0.88      0.86       834

In [141]:
confusion_matrix(ytest2,rfc.predict(Xtest2))

array([[696,  13],
       [ 86,  39]])

In [142]:
sm = SMOTE(random_state=42, sampling_strategy=1.0)
Xsmote1, ysmote1 = sm.fit_sample(Xtrain2, ytrain2)

In [143]:
rfc.fit(Xsmote1,ysmote1)
confusion_matrix(ytest2,rfc.predict(Xtest2))

array([[663,  46],
       [ 67,  58]])

In [144]:
print(classification_report(ytest2,rfc.predict(Xtest2)))

              precision    recall  f1-score   support

           0       0.91      0.94      0.92       709
           1       0.56      0.46      0.51       125

    accuracy                           0.86       834
   macro avg       0.73      0.70      0.71       834
weighted avg       0.86      0.86      0.86       834

In [360]:
q3 = ("""
SELECT *,
CASE 
    WHEN "account length" < 30 THEN 0
    WHEN "account length" BETWEEN 31 and 60 THEN 1
    WHEN "account length" BETWEEN 61 and 90 THEN 2
    ELSE 3
     
END AS gtr_avg
FROM df
""")
df3 = psql.sqldf(q3)
df3 = df3.drop(columns = ['phone number','account length'])

In [361]:
X = df3.drop(columns = ['churn'])
y = df3['churn']
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,random_state=42)
rfc.fit(Xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [362]:
confusion_matrix(ytest,rfc.predict(Xtest))

array([[706,   3],
       [ 38,  87]])

In [363]:
print(classification_report(ytest,rfc.predict(Xtest)))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97       709
           1       0.97      0.70      0.81       125

    accuracy                           0.95       834
   macro avg       0.96      0.85      0.89       834
weighted avg       0.95      0.95      0.95       834

In [364]:
sm = SMOTE(random_state=42, sampling_strategy=1.0)
Xsmote, ysmote = sm.fit_sample(Xtrain, ytrain)
rfc.fit(Xsmote,ysmote)
confusion_matrix(ytest,rfc.predict(Xtest))

array([[690,  19],
       [ 28,  97]])

In [365]:
print(classification_report(ytest,rfc.predict(Xtest)))

              precision    recall  f1-score   support

           0       0.96      0.97      0.97       709
           1       0.84      0.78      0.80       125

    accuracy                           0.94       834
   macro avg       0.90      0.87      0.89       834
weighted avg       0.94      0.94      0.94       834

In [366]:
rfc.feature_importances_

array([0.02328443, 0.04208264, 0.16972135, 0.04206134, 0.02696406,
       0.10449696, 0.02210705, 0.10614937, 0.04921203, 0.0196493 ,
       0.04682836, 0.02885406, 0.01952832, 0.02743997, 0.02318492,
       0.04624786, 0.02321977, 0.14717288, 0.03179531])

In [367]:
list(zip(Xtest.columns,rfc.feature_importances_))

[('state', 0.023284432222321565),
 ('area code', 0.04208264126403287),
 ('international plan', 0.16972135272564845),
 ('voice mail plan', 0.042061341935420354),
 ('number vmail messages', 0.02696405785282918),
 ('total day minutes', 0.10449695952088722),
 ('total day calls', 0.02210704713855515),
 ('total day charge', 0.10614937198521257),
 ('total eve minutes', 0.04921203309663838),
 ('total eve calls', 0.01964929880201996),
 ('total eve charge', 0.04682836319108326),
 ('total night minutes', 0.0288540573285639),
 ('total night calls', 0.01952832420364985),
 ('total night charge', 0.027439968949002174),
 ('total intl minutes', 0.02318492434968323),
 ('total intl calls', 0.04624785898260678),
 ('total intl charge', 0.023219773234832024),
 ('customer service calls', 0.147172879483885),
 ('gtr_avg', 0.031795313733128064)]

In [368]:
Xtest.describe()

,state,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,gtr_avg
count,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000
mean,25.785372,1.032374,0.097122,0.290168,8.438849,179.083573,100.425659,30.444880,201.305396,100.621103,17.111103,201.624101,100.719424,9.073297,10.176259,4.576739,2.748094,1.545564,2.432854
std,14.887113,0.715231,0.296302,0.454112,13.774700,55.705695,20.398959,9.469929,50.997535,19.465495,4.334750,49.759134,19.693094,2.239232,2.775474,2.547411,0.749223,1.274352,0.837836
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.200000,48.000000,2.650000,43.700000,36.000000,1.970000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.250000,1.000000,0.000000,0.000000,0.000000,143.250000,86.000000,24.350000,167.300000,87.000000,14.220000,167.875000,88.000000,7.557500,8.400000,3.000000,2.270000,1.000000,2.000000
50%,26.500000,1.000000,0.000000,0.000000,0.000000,180.450000,101.000000,30.680000,202.600000,101.000000,17.220000,201.750000,101.000000,9.080000,10.200000,4.000000,2.750000,1.000000,3.000000
75%,38.000000,2.000000,0.000000,1.000000,21.000000,216.525000,114.750000,36.807500,236.925000,114.000000,20.142500,234.900000,114.000000,10.570000,12.175000,6.000000,3.285000,2.000000,3.000000
max,50.000000,2.000000,1.000000,1.000000,46.000000,335.500000,163.000000,57.040000,341.300000,164.000000,29.010000,367.700000,166.000000,16.550000,18.900000,20.000000,5.100000,7.000000,3.000000